{{#if addProduct}}
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input class="form-control" value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        {{textarea class="form-control" value=image id="image"}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input class="form-control" value=description id="description"}}
      </div>

      <div class="form-group">
        <label for="cost">Cost</label>
        {{input class="form-control" value=cost id="cost"}}
      </div>

      <button class="btn btn-primary btn-sm btn-outline crudButtons" {{action 'add'}}>Save</button>

    </form>
  </div>
{{else}}
<button class = "btn btn-primary btn-lg btn-outline crudButtons" {{action 'addProductShow'}}>Add</button>
{{/if}}
