{{#if editProduct}}
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input class="form-control" value=title id="title" placeholder=product.title}}
      </div>

      <div class="form-group">
        <label for="image">Image</label>
        {{textarea class="form-control" value=image id="image" placeholder=product.image}}
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        {{input class="form-control" value=description id="description" placeholder=product.description}}
      </div>

      <div class="form-group">
        <label for="cost">Cost</label>
        {{input class="form-control" value=cost id="cost" placeholder=product.cost}}
      </div>

      <button class="btn btn-primary btn-sm crudButtons"{{action 'edit' product}}>Save</button>

    </form>
  </div>
{{else}}
<button class = "btn btn-warning btn-sm crudButtons" {{action 'editProductShow'}}>Edit</button>
{{/if}}
