
  <div class="row well">
    <div class="col-md-6">

        <img src={{product.image}}>

    </div>
    <div class="col-md-4">

        <h2>{{product.title}}</h2>
        <h5>{{product.description}}</h5>

    </div>
    <div class="col-md-2">

        <h3>{{product.cost}}</h3>
        <button class="btn btn-primary btn-outline" {{action 'addToCart' product}}>Add to Cart</button>

    </div>
  </div>

  {{review-list product=product}}

  {{new-review product=product save2="save3"}}
