<!-- {{#power-select options=sortingOptions onchange=(action "chooseSortBy") as |item|}}
  {{item}}
{{/power-select}} -->


  {{#if product.reviews}}
    <h2>Product Reviews:</h2>
    <h3>Average rating: {{averageRating}}</h3>
    <hr>
  {{/if}}

  {{#each sortedReviews as |review|}}
    <blockquote>
      <h3 class="yellowStars">{{review-rating-stars review}}</h3>
      <p>"{{review.comment}}"</p>
      <footer>{{review.username}} <p>{{moment-calendar review.timestamp}}</p></footer>
    </blockquote>
    <hr>
  {{/each}}
